<section class="ptxxl" ng-controller="moviesController as movies">
	<h1>Movies</h1>
  	    <label class="lbl">
        	Search: <input class="label" type="text" name="" value="" placeholder="Search for movies" ng-model="search.title">
    	</label>
  </div>
	
	<div class="film" ng-repeat="movie in movies.moviesList | filter:search">
	  <h2> {{movie.title}}</h2> 
	  <img ng-src="{{movie.cover}}" alt="{{movie.title}} Cover Image">
	  <a class="detail styled-button-9" href="#/movies/{{movie.id}}">Informatie</a>
	</div>
</section>